::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-track {
    display: none;
    background-color: #ffffff;
    opacity: 0.2;
}

::-webkit-scrollbar-thumb {
    background-color: #DFE6EF;
    border-radius: 10px;
}

body {
    overflow: overlay;
}