---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import TopNav from "../components/topnav/topnav";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="Ivan's portafolio" content={Astro.generator} />
    <link rel="stylesheet" href="./styles.css" />
    <title>{title}</title>
  </head>
  <TopNav client:only />
  <body
    class="bg-gradient-to-br from-cyan-900 to-purple-900 min-h-screen overscroll-none p-4"
  >
    <slot />
  </body>
</html>
